.navCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.card {
  width: 320px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 1px;
  overflow: hidden;
  text-align: center;
  background-color:#0c0c0c;
  margin: 20px;
}

.product-image-link {
  display: block;
  position: relative;
}

.image-container {
  position: relative;
}

.product-image {
  width: 100%;
  height: 26rem;
}

.free-shipping-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(26, 26, 26, 0.735);
  color: rgb(255, 255, 255);
  padding: 5px;
}

.free-shipping-bottom-inside {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  left: 50px;
  right: 50px;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.735);
  padding: 7px ;
  color: white;
  font-size: 14px; 
}

.card-body {
  padding: 10px;
}

.product-title-link {
  text-decoration: none;
  color: #ffffff;
}

.product-title {
  margin-top: 0;
}

.product-price {
  font-weight: bold;
  text-decoration:line-through;
  display: inline;
  color: white;
}
.price-divider {
  position: relative;
  text-decoration:line-through;
  display: inline-block;
  margin: 0 15px;
}

.price-divider::after {
  content: '|'; /* Cambio del contenido */
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  color: #ffffff;
}

.price-text {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.installments {
  background-color: rgba(26, 26, 26, 0.735);
  padding: 18px;
  font-size: 1.1rem;
  display: block;
  margin-top: 10px;
  color: #fefefe;
}

.add-to-cart-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #060606;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #151515;
}


@media (min-width: 768px){
  .card{
    width: 315px;
  }
}