/* CATEGORIA INFORMACION*/
.sectionInfo {
  margin-top: 7rem;
  text-align: center;
  font-size: 16px;
}
.tituloInfo {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 550;
}
.divInfo {
  background-color: #141414;
  padding: 20px;
  text-align: left;
  max-width: 1000px;
  margin: 2rem auto;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
}
.opcionesInfo {
  margin: 1.1rem;
  text-decoration: underline;
  font-size: 20px;
}
.tituloTexto {
  margin: 1.5rem 0;
  font-size: 1.6rem;
  font-weight: 600;
}
i {
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: underline;
}
.textoInfo {
  font-size: 18px;
}
.liInfo {
  font-size: 1.1rem;
  margin: 1.5rem;
}

/* CATEGORIA CAMBIOS */

.sectionCambios {
  margin-top: 7rem;
  text-align: center;
  font-size: 16px;
  min-height: 685px;
}

/* CATEGORIAS CONTACTOS */
.contactoForm {
  background-color: #141414;
  color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 8rem auto;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
}

.contacto-titulo {
  text-align: center;
  margin-bottom: 20px;
}

.contacto-formulario {
  display: flex;
  flex-direction: column;
}

.contacto-label {
  margin-bottom: 5px;
}

.contacto-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(16, 16, 16);
  color: white;
}

.contacto-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(16, 16, 16);
  color: white;
  resize: vertical;
  transition: border-color 0.3s ease-in-out;
}

.contacto-boton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.contacto-boton:hover {
  background-color: #a9a9a9;
  color: black;
}

@media (max-width: 576px){
  .contactoForm{
    width: 94%;
  }

  /* CAMBIOS Y INFORMACION */
  .divInfo{
    width: 90%;
  }
  .tituloInfo{
    font-size: 1.5rem;
  }
  .textoInfo{
    font-size: 15px;
  }
  .opcionesInfo{
    font-size: 16px;
  }
  .tituloTexto{
    font-size: 1.2rem;
  }

  .liInfo{
    font-size: 15px;
  }
}

@media (min-width: 576px){
  .divInfo{
    max-width: 90%;
  }
  .tituloInfo{
    font-size: 1.7rem;
  }
  .textoInfo{
    font-size: 17px;
  }
  .opcionesInfo{
    font-size: 17px;
  }
  .tituloTexto{
    font-size: 1.5rem;
  }
  
  .liInfo{
    font-size: 17px;
  }
}
@media (min-width: 768px){
  .divInfo{
    max-width: 90%;
  }
  .tituloInfo{
    font-size: 1.9rem;
  }
  .textoInfo{
    font-size: 18px;
  }
  .opcionesInfo{
    font-size: 18px;
  }
  .tituloTexto{
    font-size: 1.7rem;
  }
  
  .liInfo{
    font-size: 19px;
  }
}
@media (min-width: 992px){
  .divInfo{
    max-width: 90%;
  }
  .tituloInfo{
    font-size: 2rem;
  }
  .textoInfo{
    font-size: 19px;
  }
  .opcionesInfo{
    font-size: 19px;
  }
  .tituloTexto{
    font-size: 1.8rem;
  }
  
  .liInfo{
    font-size: 20px;
  }
}
@media (min-width: 1200px){
  .divInfo{
    max-width: 60%;
  }
  .tituloInfo{
    font-size: 1.9rem;
  }
  .textoInfo{
    font-size: 18px;
  }
  .opcionesInfo{
    font-size: 18px;
  }
  .tituloTexto{
    font-size: 1.7rem;
  }
  
  .liInfo{
    font-size: 19px;
  }
}
