.btnCard {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}

.linkCard {
  margin-top: 8rem;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imgCard {
  width: 450px; /* Ajusta el ancho al 100% */
  height: 500px; /* Ajusta la altura fija */
  object-fit: cover; /* Mantiene la proporción y recorta la imagen si es necesario */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.5;
  position: relative;
}

.btnCard:hover .imgCard {
  transform: scale(1.1);
  opacity: 0.7;
}

.tituloCard {
  color: white;
  font-weight: 700;
  background-color: transparent;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CARRUSEL */
.carruselInicio {
  color: rgb(253, 253, 253);
  margin-bottom: 4rem;
}
.iconosCarrusel {
  width: 4%;
  height: 1.7rem;
  margin-bottom: 18px;
}

@media (max-width: 576px) {
 .imgCard{
  width: 350px;
 }
}
