.divCard {
  display: flex;
  justify-content: center;
}

.btnCard {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: block;
}

.linkCard {
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem auto;
  max-width: 1400px;
}

.imgCard {
  width: 100%; /* Ancho al 100% del contenedor */
  max-width: 410px; /* Máximo ancho de la imagen */
  height: 500px; /* Altura automática para mantener la proporción */
  object-fit: cover; /* Mantiene la proporción y recorta la imagen si es necesario */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.5;
  position: relative;
  display: block;
}

.btnCard:hover .imgCard {
  transform: scale(1.1);
  opacity: 0.7;
}

.tituloCard {
  color: white;
  font-weight: 700;
  background-color: transparent;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* INFO MINIMA */
.span-container {
  display: flex;
  justify-content: center;
}

.divSpan {
  background-color: rgba(10, 10, 10, 0.841);
  padding: 20px 40px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}

.tituloSpan {
  font-size: 2rem;
}

/* TITULO DE LAS CATEGORIAS */
.titulos {
  color: white;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: 800;
}
/* IMAGEN DE OFERTAS */
.ofertas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

@media (max-width: 576px) {
  .imgCard {
    max-width: 100%;
  }
  .tituloSpan {
    font-size: 1.3rem;
  }
  .span {
    font-size: 16px;
  }

  .titulos {
    font-size: 2rem;
  }
  .imgCard {
    width: 380px;
  }
  .ofertasImg {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .imgCard {
    width: 380px;
  }

  .titulos {
    font-size: 2rem;
  }
  .ofertasImg {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .tituloSpan {
    font-size: 1.6rem;
  }
  .span {
    font-size: 19px;
  }

  .ofertasImg {
    width: 98%;
  }
}

@media (min-width: 992px) {
  .tituloSpan {
    font-size: 1.8rem;
  }
  .span {
    font-size: 21px;
  }

  .ofertasImg {
    width: 98%;
  }
}

@media (min-width: 1200px) {
  .imgCard {
    width: 100%;
  }

  
  .btnCard {
    width: 410px;
  }

  .ofertasImg {
    width: 67%;
  }

  .titulos {
    font-size: 3rem;
  }
  .tituloSpan {
    font-size: 1.9rem;
  }
  .span {
    font-size: 23px;
  }
}
