/*CARD-DESTACADOS */
.card-content-destacados{
  max-width: 1200px;
  overflow-x: hidden;
  padding: 24px 0px;
}
.card-destacados {
  min-width: 120px;
  border: 1px solid transparent;
  border-radius: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #0c0c0c;
  margin: 10px;
}

.product-image-link-destacados {
  display: block;
  position: relative;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.card-destacados:hover .product-image-destacados {
  transform: scale(1.1); /* Puedes ajustar el valor según el nivel de zoom que desees */
}

.image-container-destacados {
  position: relative;
}

.product-image-destacados {
  width: 100%;
  height: 26rem;
  transition: transform 0.3s ease-in-out;
}

.free-shipping-top-right-destacados {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(26, 26, 26, 0.735);
  color: white;
  padding: 5px;
}

.free-shipping-bottom-inside-destacados {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  left: 50px;
  right: 50px;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.735);
  padding: 7px;
  color: white;
  font-size: 14px;
}

.card-body-destacados {
  padding: 10px;
}

.product-title-link-destacados {
  text-decoration: none;
  color: #ffffff;
}

.product-title-destacados {
  margin-top: 0;
}

.product-price-destacados {
  font-weight: bold;
  text-decoration: line-through;
  display: inline;
  color: white;
}
.price-divider-destacados {
  position: relative;
  text-decoration: line-through;
  display: inline-block;
  margin: 0 15px;
}

.price-divider-destacados::after {
  content: "|"; /* Cambio del contenido */
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  color: #ffffff;
}

.price-text-destacados {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.installments-destacados {
  background-color: rgba(26, 26, 26, 0.735);
  padding: 18px;
  font-size: 1.1rem;
  display: block;
  margin-top: 10px;
  color: #fefefe;
}

.add-to-cart-btn-destacados {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #060606;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn-destacados:hover {
  background-color: #151515;
}
/* CARRUSEL */
.carousel {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.carousel-button {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carousel-button.prev {
  position: absolute;
  color: white;
  background-color: #060606;
  z-index: 200;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content:center ;
  align-items: center;
  border-radius: 100%;
  outline: none;
  border: none;
  top: 50%;
  left: -0px;
}

.carousel-button.next {
  color: white;
  position: absolute;
  background-color: #060606;
  z-index: 200;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content:center ;
  align-items: center;
  border-radius: 100%;
  outline: none;
  border: none;
  top: 50%;
  right: -0px;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

@media  (max-width: 576px) {

}

@media  (max-width: 480px) {

}
