/* DATA */
.contenedor-data{
  display: flex;
  justify-content: center;
  gap: 120px;
}

.data {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(253, 253, 253);
  display: flex;
  gap: 5px;
  font-size: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divData {
  max-width: 300px;
}

@media (max-width: 576px) {
  .contenedor-data{
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media (min-width: 576px) {
  .contenedor-data{
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media (min-width: 768px) {
  .contenedor-data{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .divData{
    font-size: 12px;
    max-width: 200px;
  }
}

@media (min-width: 992px) {

  .contenedor-data{
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .divData {
    font-size: 14px;
    max-width: 250px;
  }
}

@media (min-width: 1200px) {
  .divData {
    font-size: 16px;
  }
}
