/* INFO MINIMA */
.span-container {
  display: flex;
  justify-content: center;
}

.divSpan {
  background-color: rgb(5, 5, 5);
  padding: 20px 40px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}

.tituloSpan {
  font-size: 2rem;
}

@media (max-width: 576px) {
  .tituloSpan {
    font-size: 1.3rem;
  }
  .span {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .tituloSpan {
    font-size: 1.6rem;
  }
  .span {
    font-size: 19px;
  }
}
@media (min-width: 992px) {
  .tituloSpan {
    font-size: 1.8rem;
  }
  .span {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .tituloSpan {
    font-size: 1.9rem;
  }
  .span {
    font-size: 23px;
  }
}
