.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color:#0c0c0c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 80px; /* Ajusta la altura según sea necesario */
}


.navbarLogo {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

.navbarLinks ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarLinks ul li {
  transition: transform 0.2s ease-in-out; /* Agrega una transición suave al efecto */
  backface-visibility: hidden; 
}

.navbarLinks ul li:hover {
  transform: translateY(-5px); /* Levanta el elemento 3 píxeles al pasar el ratón por encima */
}

.navbarLinks ul li a {
  text-decoration: none;
  color: white;
}

.navbarCta a {
  text-decoration: none;
  color: white;
  margin-left: 60px;
}

.navbarLinks ul li.dropdown {
  position: relative;
}

/* Estilos del menú desplegable */
.navbarLinks ul li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color:#0c0c0c;
  padding: 10px;
  top: 100%;
  left: 0;
  min-width: 120px;
}

.navbar-toggle {
  margin-left: 20px;
  background-color:#0c0c0c;
  border: 0;
  color: white;
}
.iconos {
  margin-left: 20px;
  background-color:#0c0c0c;
  border: 0;
  color: white;
}

.navbarLinks ul li.dropdown:hover .dropdown-content {
  display: block;
}

.navbarLinks ul li.dropdown .dropdown-content a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

@media (max-width: 576px) {
  .navbar {
    display: flex;
    
    align-items: center;
  }
  .navbarLogo {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) {
  .navbarLogo {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .navbarCta { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbarLinks {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50vw;
    height: 100vh;
    color: white;
    background-color:#0c0c0c;
    text-align: center;
    padding: 10px;
  }

  .navbarLinks.open {
    display: block;
  }

  .navbarLinks ul {
    padding: 15px 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a una columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .navbarLinks ul li {
    margin-bottom: 10px;
    width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible */
  }
}

@media (min-width: 768px) {
  .navbar{
    display: flex;
  }
  .navbar-toggle {
    display: none; /* Oculta el botón de hamburguesa en pantallas más grandes */
  }

  .navbarLinks ul {
    display: flex; /* Muestra los elementos del menú horizontalmente en pantallas más grandes */
    list-style: none;
    padding: 0;
  }

  .navbarLinks ul li {
    font-size: 14px;
    margin: 0 8px;
  }

  .navbarLogo {
    font-size: 1.2rem;
  }

}
@media (min-width: 992px) {
  .navbarLinks ul li {
    font-size: 14.5px;
    margin: 0 15px;
  }

  .navbarLogo {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .navbarLinks ul li {
    font-size: 16px;
    margin: 0 15px;
  }
  .navbarLinks ul{
    margin-right: 3.1rem;
  }

  .navbarLogo {
    font-size: 1.6rem;
  }
}
