.navbar-tesla {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-tesla__logo {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0; /* Ajustar el margen para centrar verticalmente */
}

.navbar-tesla__links ul {
  display: flex;
  list-style: none;
  margin: 0; /* Ajustar el margen para centrar verticalmente */
  padding: 0; /* Eliminar el relleno predeterminado */
}

.navbar-tesla__links ul li {
  margin-right: 20px;
}

.navbar-tesla__links ul li a {
  text-decoration: none;
  color: white;
}

.navbar-tesla__cta a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

.navbar-tesla__links ul li.dropdown {
  position: relative;
}

/* Estilos del menú desplegable */
.navbar-tesla__links ul li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  top: 100%;
  left: 0;
  min-width: 120px;
}

.navbar-tesla__links ul li.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-tesla__links ul li.dropdown .dropdown-content a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

