/* OffCanvasSearch.css */
.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: rgb(3, 3, 3);
  z-index: 1000;
  opacity: 0; 
}

.offcanvas.open {
  opacity: 1; /* Mostrar el OffCanvas con opacidad completa */
}

.offcanvas-content {
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 80%;
}

.close-button {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-button:focus {
  outline: none;
}

.search-box {
  margin-top: 50px; /* Ajusta el margen superior según tu diseño */
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fbfbfb; /* Cambia el color según tu diseño */
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.search-button:hover {
  background-color: #939393;
}

/* CARRITO */

.canvas-content {
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 80%;
}

.divCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cerrar {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.cerrarCarrito {
  background: transparent;
  border: none;
  cursor: pointer;
}

.cerrarCarrito:focus {
  outline: none;
}

.CarritoVacio {
  margin-top: 2rem;
  padding: 10px 20px;
  background-color: rgb(6, 6, 6);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 576px) {


  /* CARRITO MODAL */

  .modalCarrito {
    width: 50vw;
    height: 100%;
  }

  .CarritoVacio {
    font-size: 11px;
  }
}

@media (min-width: 576px) {
  .modalCarrito {
    width: 50vw;
    height: 100%;
  }

  .CarritoVacio {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .modalCarrito {
    width: 40vw;
    height: 100%;
  }

  .CarritoVacio {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .modalCarrito {
    width: 35vw;
    height: 100%;
  }

  .CarritoVacio {
    font-size: 1.5rem;
  }
}
